<h2>ハッシュタグ #<%= @hashtag.hashname %></h2>
    <div class= "hashtag-name">
    <% @hashtags.sort.reverse.each do |count| %>
        <% count[1].each do |hashtag| %>
            <p><%= link_to  "##{hashtag.hashname} (#{hashtag.groups.count}) 件","/group/hashtag/#{hashtag.hashname}",data: {"turbolinks" => false} %>
            </p>
        <% end %>
    <% end %>
    </div>
    <ul>
        <% @group.each do |t| %>
        <li>
            <%= t.content %>
        </li>    
        <% end %>
    </ul>
    
<%= link_to 'Back', groups_path %>