<%= stylesheet_link_tag 'home', :media => "all" %>


<div class="meet-with">
    <img src="/assets/topcoffee.jpg" class="image-top">
    <h1 class="meet-with-one">オタ友と</h1>
    <h1 class="meet-with-two">つながろう。</h1>
</div>
<div class="points">
    <h1 class="points-one">気になる投稿は♡で保存</h1>
    <h1 class="points-two">推しを語り尽くそう</h1>
</div>
<div class="how-to-use">
    <%= link_to '使い方 →', :controller => "use", :action => "index", class:"editlink" %>
</div>