/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
* {
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

header {
    background-color: #A78C81;
    height: 80px;
    width: 100%;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #362E2A;
}

header h1 {
    color: #fff;
    margin-left: 40px;
}

.header-list {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    margin-right: 40px;
}

header li {
    list-style: none;
    margin-right: 40px;
}