// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/**/

.box-newgroup {
    width: 600px;
    height: 550px;
    margin: 30px auto 0;
    border-radius: 4px;
    border: 1px #A78C81 solid;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.box-inner-newgroup {
    padding: 20px 26px;
}

.newgroup-name {
    margin-bottom: 13px;
    font-size: 18px;
    color: #4C3D3D;
}

.newgroup-content textarea {
    width: 100%;
    height: 200px;
    
    border-style: none;
    box-sizing: border-box;

    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 13px;
}

.newgroup-image {
    margin-bottom: 13px;
}

.newgroup-fan {
    margin-bottom: 13px;
    color: #4C3D3D;
}

select {
    height: 30px;
    width: 110px;
    border-color: #4C3D3D;
    border-radius: 3px;
}

.newgroup-post {
    margin-bottom: 26px;
}

.newgroup-post input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 31px;
    background: rgba(0,0,0,.0);
    border-radius: 3px;
    border: 1px #4C3D3D solid;
}

.newgroup-post input[type="submit"]:hover {
    cursor: pointer;
    background: #4C3D3D;
    color: #F4EDE1;
}

.box-back p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
}

.box-back p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
}

.box-back a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    line-height: 31px;
    text-align: center;
    background: #F4EDE1;
    border-radius: 3px;
    border: 1px #4C3D3D solid;
}

.box-back a:hover {
    color: #F4EDE1;
    background: #4C3D3D;
}





































/*
.new-container h1 {
    font-size: 25px;
    margin-left: 40px;
    color: #4C3D3D;
    //height: 80px;
    width: 100%;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

h3 {
    color: #4C3D3D;
}

.search {
    position: relative;
}

.search::before,
.search::after {
    position: absolute;
    content: '';
    pointer-events: none;
}


.search select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #A78C81;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.submitbtn {
    background-color: yellow;
}

.field-container {
    margin-left: 80px;
    color: #4C3D3D;
    font-size: 20px;
    font-weight: lighter;
}

.field {
    padding-top: 10px;
}

.groups-container {
    width: 50%;
    margin: 10px auto;
}

.group {
    border-top: solid #4C3D3D;
    margin-top: 10px;
    padding-top: 20px;
}

.main {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    justify-content: flex-end;
}

.settings {
    margin: 5px 0;
    display: flex;
    // justify-content: space-between;
}

.like {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.hashtag {
    color: #A78C81;
}

// .field-name input[type="text"] {
//     width: 50%;
//     height: 40px;
//     font-size: 20px;
//     margin-left: 40px;
//     color: #4C3D3D;
//     font-weight: lighter;
    
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 5px;
// }

textarea {
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin-left: 40px;
    color: #4C3D3D;
    font-weight: lighter;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

*/