// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/**/
.new-container h1 {
    font-size: 25px;
    margin-left: 40px;
    color: #4C3D3D;
    //height: 80px;
    width: 100%;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

h3 {
    color: #4C3D3D;
}

.search {
    position: relative;
}

.search::before,
.search::after {
    position: absolute;
    content: '';
    pointer-events: none;
}


.search select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #A78C81;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.submitbtn {
    background-color: yellow;
}

.field-container {
    margin-left: 80px;
    color: #4C3D3D;
    font-size: 20px;
    font-weight: lighter;
}

.field {
    padding-top: 10px;
}

.groups-container {
    width: 50%;
    margin: 10px auto;
}

.group {
    border-top: solid #4C3D3D;
    margin-top: 10px;
    padding-top: 20px;
}

.main {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    justify-content: flex-end;
}

.settings {
    margin: 5px 0;
    display: flex;
    // justify-content: space-between;
}

.like {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.hashtag {
    color: #A78C81;
}

// .field-name input[type="text"] {
//     width: 50%;
//     height: 40px;
//     font-size: 20px;
//     margin-left: 40px;
//     color: #4C3D3D;
//     font-weight: lighter;
    
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 5px;
// }

textarea {
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin-left: 40px;
    color: #4C3D3D;
    font-weight: lighter;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}