// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #4C3D3D;
}

.box-for-show {
    width: 350px;
    height: 450px;
    margin: 30px auto 0;
    border-radius: 4px;
    border: 1px #A78C81 solid;
}

.box-inner-for-show {
    padding: 20px 26px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.box-name-show {
    margin-bottom: 13px;
    color: #4C3D3D;
}

.box-fan-show {
    margin-bottom: 13px;
    color: #4C3D3D;
}

.box-email-show {
    margin-bottom: 13px;
    color: #4C3D3D;
}

.box-name-show p {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.box-fan-show p {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.box-email-show p {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.box-name-field-show {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #fff;
    text-align: center;
}

.box-fan-field-show {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #fff;
    text-align: center;
    // display: flex;
}

.box-email-field-show {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #fff;
    text-align: center;
    // display: flex;
}

.links-edit-show {
    margin-bottom: 14px;
}

.links-edit-show p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
}

.links-edit-show p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
}

.links-edit-show a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    line-height: 31px;
    text-align: center;
    background: #F4EDE1;
    border-radius: 3px;
    border: 1px #4C3D3D solid;
}

.links-edit-show a:hover {
    color: #F4EDE1;
    background: #4C3D3D;
}

.links-logout-show p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
}

.links-logout-show p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
}

.links-logout-show a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    line-height: 31px;
    text-align: center;
    background: #F4EDE1;
    border-radius: 3px;
    border: 1px #4C3D3D solid;
}

.links-logout-show a:hover {
    color: #F4EDE1;
    background: #4C3D3D;
}
